* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 0;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  // display: none;
}

/*正常情况下滑块的样式*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.flex_1 {
  flex: 1;
}

.display-block {
  display: block;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.overEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// warn detail 页面的展示信息
.alert-message {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  align-items: center;

  cursor: pointer;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &:active {
    background-color: #ccc;
  }
  .icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .iconwarn {
      color: red;
      font-size: 30px;
      margin: 0 10px 0 0;
    }
  }
  .time {
    color: rgb(7, 160, 109);
  }
}

body {
  /deep/.md-menu-content-container {
    background-color: #fff;

    .md-selected {
      background-color: #409eff;
    }
  }
}

.md-bottom-bar.md-type-fixed{
  .md-bottom-bar-item{
    min-width: 50px !important;
  }
}
