html,
body,
ul,
li,
div{
  margin: 0;
  padding:0;
}

ul li {
  list-style: none;
}

h1{
  text-align: center;
  margin: 0;
}

.display-flex{
  display: flex;
  flex-direction: column;
}

div .mint-header{
  background-color: #fff;
  color: #000;
  border-bottom:1px solid #c5c9d1;
}

